VITE_FIREBASE_API_KEY=AIzaSyBIQ3mea-j2IcqN1FbXKciCLG7O3CLCERc
VITE_FIREBASE_AUTH_DOMAIN=ponio-store.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ponio-store
VITE_FIREBASE_STORAGE_BUCKET=ponio-store.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=180249974361
VITE_FIREBASE_APP_ID=1:180249974361:web:fd0fa2a29dad97f4508348

VITE_DEFAULT_CASHIER_NAME="Rachell"
VITE_DEFAULT_CASHIER_ID="ponio123"